<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="#">
                LibNexus
            </a>
            <!-- TODO enter ai generated logo here -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/my-books">My Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/lib/stats">Stats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" style="color:red">Logout</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <p>
    <div style="padding-top: 3px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 3px;">
        <h2>My Books</h2>
        </p>
        <hr>
        <h3 style="color: aqua;">Requests</h3>
        <hr>
        {% for user in requests_not_granted %}
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            {% for book in requests_not_granted[user] %}
            <div>
                <h5>{{ book.name }}</h5> {{ user.email }}
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
            <form action="/reject-access" method="post">
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <button class="btn btn-danger" type="submit">Reject</button>
            </form>
            <form action="/grant-access" method="post">
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <button class="btn btn-success" type="submit">Grant</button>
            </form>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <hr>
        <h3 style="color: lightgreen;">Granted access</h3>
        <hr>
        {% for user in requests_granted %}
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            {% for book in requests_granted[user] %}
            <div>
                <h5>{{ book.name }}</h5> {{ user.email }}
            </div>
            <div style="display: flex; flex-direction: row;">
            <form action="/revoke-access" method="post">
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <button class="btn btn-warning" type="submit">Revoke</button>
            </form>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>

</html>